@media screen and (max-width: 820px) {
    #in-wrap {
        background-color: #21222C;
        width: 80vw;
        margin-left: 10vw;
        padding: 15px 10px;
    }

    ul {
        width: 80%;
    }

    h1 {
        font-size: 1.6rem;
    }
}